# =========================================

# ENV TEMPLATE (EXAMPLE ONLY - NOT REAL KEYS)

# Rename file ini menjadi file .env dan ganti semua contoh value dengan value sebenarnya.

# =========================================

# Bright Data Configuration

BRIGHTDATA_API_KEY=5ab8****-****-****-****-********ede6  # example only
BRIGHTDATA_ZONE=serp_api_capstone # example only

# DeepInfra Configuration

DEEPINFRA_API_KEY=XAGt****NjOf****9l1a****VBrqii  # example only
DEEPINFRA_BASE_URL=https://api.deepinfra.com/v1/openai # base URL bisa berubah sewaktu-waktu, jadi pastikan kembali.

# Model Configuration

EMBEDDING_MODEL=Qwen/Qwen3-Embedding-8B # Ganti sesuai dengan model yang diinginkan
AGENT_MODEL_NAME=Qwen/Qwen3.5-397B-A17B # Ganti sesuai dengan model yang diinginkan

# Database Configuration

MONGO_URI=mongodb://localhost:27017 # example only
DB_NAME=clario_ai 
COLLECTION_NAME=states 
