# Ignore environment variables (real secrets)

.env
.env.*

# BUT keep template/example files
!.env.template

# Docker local config (bukan untuk di-push ke repo)
docker-compose.yml
docker-compose.override.yml

# Ignore Python cache

**pycache**/
*.pyc

.venv/
venv/
__pycache__/
*.pyc
.env